.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    width: 400px;
    padding: 50px 50px;
    
}
.fields-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}